/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    font-size: 6.25%;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    --header-background: rgb(217, 119, 6);
    --header-button: rgb(180, 83, 9);
    --header-button-accent: rgb(146, 64, 14);
    --header-text-color: antiquewhite;
    --article-text-color: black;
    --comment-text-color: rgb(17, 24, 39);
    --default-text-size: max(21rem, 2vw);
    --default-heading-size: max(30rem, 3vw);
    --body-font: 'Kalam', cursive;
    --heading-font: 'Amatic SC', cursive;
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template: 8fr 90fr 2fr / 1fr;
    grid-template-areas: 
    "header"
    "main_content"
    "footer";
}

a {
    text-decoration: none;
}

#header, #footer {
    padding: 10rem 30rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--header-background);
    color: var(--header-text-color);
    text-align: center;
}

#header a, #footer a {
    color: var(--header-text-color);
}

#header {
    grid-area: header;
    font-size: 25rem;
    justify-content: space-between;
    column-gap: 30vw;
    row-gap: 10rem;
}

@media (max-width: 30rem) {
    #header {
        justify-content: center;
    }
}

#home_link {
    font-weight: bold;
}

#header img {
    height: 25rem;
    width: auto;
    margin-bottom: -5rem;
}

#new_article {
    border: 2rem outset gray;
    background-color: var(--header-button);
    border-radius: 5rem;
    padding: 5rem;
    font-size: 20rem;
}

#new_article:hover {
    background-color: var(--header-button-accent);
}

#new_article:active {
    border: 3rem inset black;
}

#main_content {
    grid-area: main_content;
    background-image: url("main_background.jpg");
    background-origin: border-box;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 10fr 80fr 10fr;
    grid-template-areas:
    ". main .";
    font-size: 20rem;
}

#footer {
    grid-area: footer;
    font-size: 10rem;
    justify-content: center;
    gap: 20rem;
}