:root {
    --paper-background: url("article_background.jpg");
}

main {
    grid-area: main;
    background-color: rgba(128, 128, 128, 0.7);
}

#list_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275rem, 1fr));
    gap: 1vw;
    padding: 1vw;
}

main > h1 {
    margin: 1vw;
    text-align: center;
    color: var(--header-text-color);
}

.articles {
    background-image: var(--paper-background);
    background-origin: border-box;
    background-position: center;
    background-size: cover;
    padding: 5%;
    gap: 2%;
    overflow: hidden;
    font-size: 21rem;
    color: var(--article-text-color);
    display: grid;
    grid-template: 1fr 8fr 1fr / repeat(8, 1fr);
    transition: 0.5s;
}

.articles:not(.active_article):hover {
    box-shadow: 4px 6px 2px black;
    width: 92%;
    height: 92%;
    z-index: 2;
}

@media (min-width: 1300px) {
    .articles.active_article {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        z-index: 3;
        max-width: 100%;
        transform: scale(3.09, 3.09);
        transform-origin: top left;
        overflow: scroll;
        font-size: 7rem;
    }

    .articles.active_article > #edit,
    .articles.active_article > #comment,
    .articles.active_article > #comment_count, 
    .articles.active_article > #maximize {
        align-self: end;
        font-size: 1vw;
    }

    .articles.active_article > #edit img,
    .articles.active_article > #comment img,
    .articles.active_article > #maximize img {
        width: 1vw;
    }
}

@media (min-width: 750px) and (max-width: 1299px) {
    .articles.active_article {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        z-index: 3;
        max-width: 100%;
        transform: scale(2.03, 2.03);
        transform-origin: top left;
        overflow: scroll;
        font-size: 14rem;
    }

    .articles.active_article > #edit,
    .articles.active_article > #comment,
    .articles.active_article > #comment_count, 
    .articles.active_article > #maximize {
        align-self: end;
        font-size: 1vw;
    }

    .articles.active_article > #edit img,
    .articles.active_article > #comment img,
    .articles.active_article > #maximize img {
        width: 1vw;
    }
}

.articles > h3 {
    margin: 0;
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 1 / span 10;
}

.articles > p {
    grid-row: 2 / 3;
    grid-column: span 10;
}

#edit,
#comment_count,
#comment,
#maximize {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#edit {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
    width: 2.2vw;
    height: auto;
}

#comment_count {
    grid-row: 3 / 4;
    grid-column: 6 / 7;
    color: var(--article-text-color);
    padding-top: 22%;
    font-size: 2.2vw;
}

#comment {
    grid-row: 3 / 4;
    grid-column: 7 / 8;
    width: 2.2vw;
    height: auto;
}

#maximize {
    grid-row: 3 / 4;
    grid-column: 8 / 9;
    width: 2.2vw;
    height: auto;
}