:root {
    --paper-background: url("article_background.jpg");
}

main.show {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 2%;
    background-color: rgba(128, 128, 128, 0.7);
    grid-area: main;
}

#article {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 2fr 7fr 1fr;
    background-image: var(--paper-background);
    background-origin: border-box;
    background-position: center;
    background-size: cover;
    overflow: scroll;
    padding: 2%;
}

#article > h1 {
    grid-row: 1 / 2;
    grid-column: span 8;
    text-align: center;
    font-size: var(--default-heading-size);
    font-family: var(--heading-font);
}

#body {
    grid-row: 2 / 3;
    grid-column: span 8;
    font-size: var(--default-text-size);
    font-family: var(--body-font);
}

#timestamp,
#edit,
#comment_count,
#comment,
#delete {
    justify-self: center;
    align-self: center;
}

#timestamp {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    font-size: 1vw;
}

#edit {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
}

#comment_count {
    grid-row: 3 / 4;
    grid-column: 6 / 7;
    font-size: 24rem;
    margin-top: -20%;
}

#comment {
    grid-row: 3 / 4;
    grid-column: 7 / 8;
}

#delete {
    grid-row: 3 / 4;
    grid-column: 8 / 9;
}

#comment_section {
    color: var(--comment-text-color);
    align-self: stretch;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#comment_section h2 {
    font-size: var(--default-heading-size);
}

.comment {
    align-self: flex-start;
    font-size: 1.5vw;
}